
body{
	background-image: url(images/comedy2.JPG);
	background-size: cover;	
}

h1{
	color:#EE82EE;
}

.topnav {
  overflow: hidden;
  float:right;
}

.topnav a {
  float: left;
  display: block;
  color:brown;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  
}


.topnav a:hover {
  background-color: #87CEEB;
  color: orange;
}
.hover-image{
	transition:transform 0.3s ease;
}
.hover-image:hover {
	transform:scale(0.8);
}